/* body {background-color: black;} */

#playerShipStats {
  border-width: 2px;
  border-color: #7a0707;
  border-style: solid;
  background-color: #161716;
  width: 200px;
  line-height: 30px;
  padding: 3px 0;

  z-index: auto;

  /* Text */
  color: #f2dfdf;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: 0px 7px;
}

#mySpeed {
  float: right;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
}
